body {
	margin: auto;
	width: 1000px;
}
#wrapper {
	background-color: #FFF;
	overflow: hidden;
	margin: auto;
}
#content {
	padding-top: 100px;
	display: flex;
	margin: auto;
}
#previous {
	display: inline-block;
	padding-top: 250px;
	cursor: pointer;
}
#next {
	display: inline-block;
	padding-top: 250px;
	cursor: pointer;
}
#images {
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
}
.sli {
	display: none;
}
.sli img {
	width:800px;
	height:500px;
}
.animate-fading {
	animation: fading 8s infinite
}
@keyframes fading {
0% {
opacity:0
}
50% {
opacity:1
}
100% {
opacity:0
}
}
#slide {
	display: flex;
	width: 100%;
	padding-left: 205px;
	margin-bottom: 20px;
}
#slide img {
	margin-top: 5px;
	margin-left: 8px;
	margin-bottom: 10px;
	width: 100px;
	height: 50px;
}
.active {
	opacity: 0.5;
	background-color: #717171;
	border: solid #000000 3px;
}
.box:hover {
	background-color: #717171;
	border: solid 1px #000000;
	cursor: pointer;
}
