#main {
	position: relative;
	margin: auto;
	padding: 50px;
	width: 1000px;
	height: 500px;
}

#prev,
#next {
	width: 80px;
	height: 143px;
	position: absolute;
	background-size: 200px;
	cursor: pointer;
	top: 250px;
}

#prev {
	background-image: url('../img/prev-next.png');
	background-position: 0 0;
	left: 60px;
}

#next {
	background-image: url('../img/prev-next.png');
	background-position: 80px 0;
	right: 60px;
}

#wrap_slider {
	position: relative;
}

#slider {
	position: absolute;
	padding: 0 100px;
}

.slider_box {
	position: absolute;
	width: 800px;
	height: 500px;
	display: block;
}

.index {
	text-align: center;
	position: relative;
	top: 20px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 5px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

