#container {
	width: 450px;
	height: 600px;
	margin: auto;
}

#menu,
#main {
	display: block;
}

#menu {
	background: url('../img/Top-BackGround.jpg');
}

#main {
	background:  url('../img/Down-BackGround.png');
}