
#page {
    font-family: Verdana, "Arial", Helvetica, sans-serif !important;
    width: 1320px;
    min-height: 800px;
    margin: auto;
    color: white;
    background: #2D2F35;
}

#header {
	border-bottom: groove 1px;
}
.cont_top {
	background-image: url('../img/bg_home_intro.gif');
	width: 1320px;
	height: auto;
	display: flex;
	border-bottom: groove 1px;
}

.cont_top .divLeft span {
	margin-left: 120px;
	width: 40%;
	font-size: 24px;
	color: yellow;
	word-spacing: 10px;
}

.cont_top .divLeft p {
	margin-left: 120px;
	width: 55%;
	font-size: 9pt;
}

.cont_top .anh_cont_top {
	margin-right: 150px;
}

.cont_mid {
	text-align: center;
	width: 1320px;
	border-bottom: groove 1px;
}

.cont_mid .img1,
.cont_mid .img2,
.cont_mid .img3,
.cont_mid .img4 {
	position: relative;
	margin-left: 15px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.cont_mid .num1 {
	position: absolute;
	left: 398px;
	padding-top: 33px;
}

.cont_mid .num2 {
	position: absolute;
	left: 639px;
	padding-top: 33px;
}

.cont_mid .num3 {
	position: absolute;
	left: 879px;
	padding-top: 33px;
}

.cont_mid .num4 {
	position: absolute;
	left: 1120px;
	padding-top: 33px;
}

.cont_bottom {
	display: flex;
	text-align: justify;
	border-bottom: groove 1px;
}

.left {
	width: 500px;
	margin: 5px 0 0 150px;
}

.right {
	width: 500px;
	margin: 5px 160px 0 130px;
}

.only_have,
.notified {
	font-size: 21px;
	color: yellow;
	word-spacing: 10px;
	position: relative;
}

.left p {
	font-size: 13px;
	position: relative;
}

.right p {
	font-size: 13px;
	padding-top: 40px;
	position: relative;
}

.img_design {
	position: absolute;
	left: 450px;
	top: 800px;
}

.img_marketing {
	position: absolute;
	right: 450px;
	top: 580px;
}

#footer {
	background-image: url('../img/bg_footer.gif');
	text-align: center;
	height: 75px;
}