* {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#page {
    width: 500px;
	min-height: 500px;
	border: solid 1px #0033FF;
	margin: auto;
}

.area_title {
	width: 500px;
	background-image: url("../img/title_bg.gif");
}

.title_profile {
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0;
}

.info {
	width: auto;
    height: 100px;
    overflow: scroll;
}

.avatar {
	float: left;
}

#title_facts {
	font-weight: bold;
	padding: 20px 5px 5px 5px;
}

.info1 li {
	margin-left: 20px;
	list-style: url('../img/star.gif');
}

.pr {
	z-index: 3;
	position: relative;
}

.pr p {
	background: #ececec;
	margin: 5px 5px 5px 5px;
	padding-left: 5px;
}

.posted {
	text-align: center;
	margin: -6px 0 -6px 0;
}

.posted a {
	text-decoration: none;
}

.title_your {
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

form {
	margin-left: 5px;
}

.form_comment input {
	margin-left: 40px;
}

.form_comment textarea {
	margin: 20px 0 0 47px;
}

.your {
	vertical-align: middle;
}

.cmt {
	vertical-align: 25px;
}

.transform {
	background: #ececec;
	width: 25px;
	height: 25px;
	margin: -20px 20% -10px 30px;
	transform: rotate(45eg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	z-index: 2;
	position: absolute;
}